.idea/
*.pyc
src/logs
venv
venv9
src_old
*.db
lib/test_store
tpt_service/tmp
tpt_service/store
.env_test
data
.pytest_cache
lib/tpt/pylint.txt
lib/tpt/tpt/.coverage
lib/tpt/.coverage
pylint.txt
lib/tpt/coverage.xml